@model Northwind.MvcWebUI.Areas.Admin.Models.ProductViewModels.ProductIndexViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ValidationMessage("CustomException")
    </div>
    <div>
        @*@foreach (var product in Model.Products)
        {
            @product.ProductName
            <br />
        }*@
    </div>
</body>
</html>
